@model IEnumerable<Banners.Web.Models.BannerViewModel>

@{
    ViewBag.Title = "All banners";
}

<div class="all">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    @Html.DisplayFor(x => x)
</div>